<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="card">
                <h4 class="p-4">Editar Personas</h4>
                <div class="card-body">
                    <form action="/personas/edit/{{personas.id_persona}}" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apellido Paterno</label>
                            <input type="text" value="{{personas.ap_paterno}}" name="ap_paterno" class="form-control"
                                placeholder="Apellido Paterno" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apellido Materno</label>
                            <input type="text" value="{{personas.ap_materno}}" name="ap_materno" class="form-control"
                                placeholder="Apellido Materno">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombres</label>
                            <input type="text" value="{{personas.nombres}}" name="nombres" class="form-control"
                                placeholder="Nombres">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                            <input placeholder="Fecha de Nacimiento"
                                value="{{moment personas.fecha_nacimiento format= "YYYY/MM/DD"}}"
                                name="fecha_nacimiento" class="form-control" type="text" onfocus="(this.type='date')"
                                id="date">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Provincia</label>
                            <input type="text" value="{{personas.provincia}}" name="provincia" class="form-control"
                                placeholder="Provincia">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Departamento</label>
                            <select type="text" name="departamento" class="form-control" placeholder="Departamento">
                                <option>Pando</option>
                                <option>Beni</option>
                                <option>Santa Cruz</option>
                                <option>La Paz</option>
                                <option>Cochabamba</option>
                                <option>Oruro</option>
                                <option>Potosi</option>
                                <option>Tarija</option>
                                <option>Chuquisaca</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cedula</label>
                            <input type="text" value="{{personas.CI}}" name="CI" class="form-control"
                                placeholder="cedula">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Celular</label>
                            <input type="number" value="{{personas.celular}}" name="celular" class="form-control"
                                placeholder="Celular">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Estado Civil</label>
                            <input type="text" value="{{personas.estado_civil}}" name="estado_civil"
                                class="form-control" placeholder="Estado Civil">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Domicilio</label>
                            <input type="text" value="{{personas.domicilio}}" name="domicilio" class="form-control"
                                placeholder="Domicilio">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" value="M" id="customRadio1" name="sexo" class="custom-control-input"
                                    checked="">
                                <label class="custom-control-label" for="customRadio1">Hombre</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" value="F" id="customRadio2" name="sexo"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Mujer
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" aria-pressed="true" autocomplete="off">
                                Guardar
                            </button>
                            <a href="/personas" class="btn btn-secondary btn-block" aria-pressed="true">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>